body {
	font: 100% "Trebuchet MS", sans-serif;
	margin: 1em;
	background: #f3f5f6;
}
._account {
	font-family: Monospace;
}
._denom {
	font-size: small;
	border: 1px #ccc solid;
	padding: 0px 3px;
	border-radius: 8px;
	font-weight: normal;
	margin-left: 3px;
}
._balance {
	font-weight: bold;
}
._grand ._denom { background-color: #ffe3e3; }
._grand._balance { color: #400; }
._ether ._denom { background-color: #fff3e5; }
._ether._balance { color: #420; }
._finney ._denom { background-color: #ffe; }
._finney._balance { color: #440; }
._szabo ._denom { background-color: #efe; }
._szabo._balance { color: #040; }
._wei ._denom { background-color: #eff; }
._wei._balance { color: #044; }

input.balance {
	width: 5ex;
	text-align: right;
}

div#log {
	float: right;
}

div.progress {
  margin-top: 0;
  line-height: 0pt;
  background: #b0c8f0;
}

span.progress-done {
  display: inline-block;
  height: 2pt;
  vertical-align: top;
  background: #58f;
  animation-duration: 15s;
}

div.card {
  background: white;
  box-shadow: 0px 2px 8px 0px #aaa;
  margin-bottom: 1ex;
}

div.card-body {
  padding: 0.5em;
}

div.card-datestamp {
	float: right;
	color: #888;
	font-size: small;
	margin-left: 1em;
}

div.card-part {
  background: white;
  box-shadow: 0px 2px 6px 0px #aaa;
  border-bottom: 1px #ccc dashed;
}

div.card-part:last-of-type {
  border-bottom: none;
}

div.card.pendingEvent div.card-body {
	opacity: 0.25;
}

div.card-body.deposit {
  border-left: 5pt #fcc solid;
}

div.card-body.withdraw {
  border-left: 5pt #ccf solid;
}

div.card-label {
	font-size: x-small;
	font-weight: bold;	
	vertical-align: bottom;
	min-width: 5em;
	float: left;
}

div.deposit div.card-label {
	color: #f88;
}

div.withdraw div.card-label {
	color: #88f;
}